/* general settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.container_center {
    width: 90%;
    margin: 0 auto;
    /* debug rules */
    /* background-color: brown;
    height: 100px; */
}

a{
    text-decoration: none;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


/* header */
header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 500px;
    /* debug rules */
    /* height: 70vh; */
}

.logo {
    text-decoration: none;
    line-height: 50px;
    vertical-align: middle;
}

/* nav */
nav {
    height: 80px;
    margin-bottom: 40px;
}

nav ul {
    display: inline-block;
    margin: 0 300px;
    line-height: 50px;
    vertical-align: middle;
}

nav li {
    float: left;
    list-style-type: none;
    padding: 20px;
}

nav li a {
    color: white;
}

.white_button {
    background-color: white;
    color: black;
}

.login {
    padding: 10px;
}

.button {
    border-radius: 50px;
}


/* jumbotron */
#jumbo_center {
    width: 55%;
    margin: 0 auto;
    height: 400px;
    text-align: center;
    /* debug rules */
    /* background-color: chocolate; */
}


#jumbo_content {
    color: white;
    max-height: 200px;
    overflow: hidden;
}

#jumbo_content h1 {
    font-size: 50px;
}

#jumbo_text {
    font-size: 20px;
    padding-top: 30px;
}

#jumbo_cta {
    padding-top: 40px ;
}

#jumbo_cta a {
    padding: 15px 25px;
}

#download {
    margin-right: 20px;
}

.down_arrow {
    margin-right: 5px;
}

.dark_button {
    background-color: rgb(19, 20, 20);
    color: white;
}


/* main part*/
main {
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 20px;
}

.left_col {
    width: 70%;
    float: left;
}

.right_col {
    width: 30%;
    float: left;
    padding-top: 30px;
}
section h1 {
    font-size: 55px;
    color: rgb(39, 37, 37);
}

section p {
    font-size: 20px;
    padding-top: 25px;
}







/* footer */
/* footer {
    background-color: #23272a;; */
    /* debug rules */
    /* height: 300px;
} */

