/* general settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.container_center {
    width: 80%;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


/* header */
header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 80vh;
}

#container_header {
    padding-top: 15px;
    margin-bottom: 65px;
}

.logo {
    text-decoration: none;
    float: left;
    line-height: 70px;
    vertical-align: middle;
}

/* nav */
nav {
    float: left;
}

nav ul {
    display: inline-block;
    margin: 0 200px;
}

nav li {
    float: left;
    list-style-type: none;
    padding: 20px;
    line-height: 2px;
    vertical-align: middle;
}

nav li a {
    color: white;
}

.white_button {
    background-color: white;
    color: black;
}

.login {
    float: left;
    padding: 10px;
}

.button {
    border-radius: 50px;
}


/* jumbotron */
#jumbo_center {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    /* debug rules */
    /* background-color: chocolate; */
}

#jumbo_content {
    color: white;
    max-height: 200px;
    overflow: hidden;
}

#jumbo_content h1 {
    font-size: 50px;
}

#jumbo_text {
    font-size: 20px;
    padding-top: 30px;
}

#jumbo_cta {
    padding-top: 40px ;
}

#jumbo_cta a , .pastel_blue_button {
    padding: 15px 25px;
}

#download {
    margin-right: 20px;
}

.down_arrow {
    margin-right: 5px;
}

.dark_button {
    background-color: rgb(19, 20, 20);
    color: white;
}


/* main part*/
main section {
    margin: 150px 0;
    height: 70vh;
}

.img_col {
    width: 70%;
    float: left;
}

.text_col {
    width: 30%;
    float: left;
    padding-top: 30px;
}

section h1 {
    font-size: 55px;
    color: rgb(39, 37, 37);
}

section p {
    font-size: 20px;
    padding-top: 25px;
}

#right_position {
    padding-left: 200px;
}

section .description {
    text-align: center;
    padding: 0 35px;
}

.description + img {
    width: 100%;
}

#cta_container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.stars_container {
    margin-top: 10px;
}

h2 {
    font-size: 25px;
    margin-top: -10px;
    margin-bottom: 50px;
}

.pastel_blue_button {
    color: black;
    background-color: rgba(86, 134, 189, 0.781);
}

/* footer */
/* footer {
    background-color: #23272a;; */
    /* debug rules */
    /* height: 300px;
} */

